* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
}

header {
    text-align: center;
    color: white;
}

#header_CSS {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link, a:visited{
    opacity: 0.7;
    color: whitesmoke;
}

a:hover {
    opacity: 1;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    background-color: dimgray;
}

table {
    width: 650px;
    color: white;
    border: 1px solid black;
}

tbody tr {
    height: 80px;
}

.head1, .head2 {
    width: 150px;
}

tr td {
    text-align: center;
    border-top: 0.5px solid white;
}

.code {
    font-family: monospace;
    background-color: midnightblue;
}

footer {
    text-align: center;
    color: white;
    opacity: 0.75;
}